{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Capibarib-E Racing | FSAE Brasil</title>
</head>
<body>

     <!-- SEÇÃO 0 - NAVBAR -->

    <nav id="navbar">
        <div id="nav-web">

            <div class="nav-logo">
                <a href="#home"><img src="{% static 'images/logo-capiba-branca.png' %}" alt="logo-capiba"></a>
            </div>

            <div class="div-menu">
                <p class="section">
                    <a href="#fsae">FSAE</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#time">TIME</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#parceiros">PARCEIROS</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#contato">CONTATO</a>
                </p>
            </div>

            <div class="nav-social">
                <a href="https://www.linkedin.com/company/capibarib-e-racing/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/capibarib.eracing/"><i class="fab fa-instagram"></i></a>
            </div>

        </div>

        <!-- <div id="nav-mobile"></div> -->

    </nav>

    <!-- SEÇÃO 1 - HOME -->

    <div id="home">
        
        <div class="home-logo">
            <img src="{% static 'images/logo-capiba-completo.png' %}" alt="logo-home">
        </div>
        
        <!-- <i class="fas fa-square-full"></i> -->

        <div class="box-home">
            <p>Uma equipe sem limites de velocidade, motivada a construir o
                <span>primeiro carro elétrico de corrida de Pernambuco!</span>
            </p>
        </div>
        
        <div class="quadri-top">
            <img src="{% static 'images/quadri.png' %}" alt="logo-quadri-top">
        </div>

        <div class="quadri-bottom">
            <img src="{% static 'images/quadri.png' %}" alt="logo-quadri-bottom">
        </div>

        <div class="arrow-home">
                <a href="#fsae"><img src="{% static 'images/arrow.png' %}" alt="arrow-home"></a>
        </div>
    </div>

    <!-- SEÇÃO 2 - FSAE -->

    <div id="fsae">

        <div class="title-fsae">
            <p>FSAE</p>
        </div>
        
        <div class="quadri-fsae">
            <img src="{% static 'images/quadri2.png' %}" alt="logo-quadri-menor">
        </div>

        <div class="line-fsae"></div>

        <div class="fsae-logo">
            <img src="{% static 'images/logo-fsae.jpeg' %}" alt="logo-fsae">
        </div>

        <div class="box-fsae">
            <p>Texto falando sobre a competiçãoTexto falando sobre a competiçãoTexto falando 
                sobre a competição Texto falando sobre a competiçãoTexto falando sobre a 
                competiçãoTexto falando sobre a competiçãoTexto falando sobre a competição
                Texto falando sobre a competiçãoTexto falando sobre a competição
                Texto falando sobre a competição
            
            </p>
        </div>

        <div class="fsae-buttom">
            <p>Saiba Mais</p>
        </div>

        <div class="img-drivers">
            <img src="{% static 'images/pilotos.png' %}" alt="banner-drivers">
        </div>

    </div>

    <!-- SEÇÃO 3 - TIME -->

    <div id="time">

        <div class="title-time">
            <p>TIME</p>
        </div>
        
        <div class="quadri-time">
            <img src="{% static 'images/quadri2.png' %}" alt="logo-quadri-menor">
        </div>

        <div class="line-time"></div>

    </div>

    <!-- SEÇÃO 4 - PARCEIROS -->

    <div id="parceiros">

        <div class="title-parceiros">
            <p>PARCEIROS</p>
        </div>
        
        <div class="quadri-parceiros">
            <img src="{% static 'images/quadri2.png' %}" alt="logo-quadri-menor">
        </div>

        <div class="line-parceiros"></div>

        <div class="parceiros-linha-1">
            <img src="{% static 'images/parceiros/altium.png' %}" alt="logo-altium">
            <img src="{% static 'images/parceiros/solidworks.png' %}" alt="logo-solidworks">
            <img src="{% static 'images/parceiros/bender.jpg' %}" alt="logo-bender">
        </div>
        
        <div class="parceiros-linha-2">
            <img src="{% static 'images/parceiros/mathworks.png' %}" alt="logo-mathworks">
            <img src="{% static 'images/parceiros/opencadd.png' %}" alt="logo-opencadd">
            <img src="{% static 'images/parceiros/simscale.jpg' %}" alt="logo-simscale">
        </div>

    </div>

    <!-- SEÇÃO 5 - FOOTER -->

    <footer id="footer"></footer>

</body>
</html>