{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Capibarib-E Racing | FSAE Brasil</title>
</head>
<body>

     <!-- SEÇÃO 0 - NAVBAR -->

    <nav id="navbar">
        <div id="navWeb">

            <div class="navLogo">
                <img src="{% static 'images/logo-capiba-branca.png' %}" alt="logo-capiba">
            </div>

            <div class="divMenu">
                <p class="section">
                    <a href="#fsae">FSAE</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#time">TIME</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#parceiros">PARCEIROS</a>
                </p>
                <i class="fas fa-circle"></i>
                <p class="section">
                    <a href="#contato">CONTATO</a>
                </p>
            </div>

            <div class="navSocial">
                <a href="https://www.linkedin.com/company/capibarib-e-racing/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/capibarib.eracing/"><i class="fab fa-instagram"></i></a>
            </div>

        </div>

        <div id="navMobile"></div>

    </nav>

    <!-- SEÇÃO 1 - HOME -->

    <div id="home">
        
        <div class="homeLogo">
            <img src="{% static 'images/logo-capiba-completo.png' %}" alt="logo-home">
        </div>
        
        <!-- <i class="fas fa-square-full"></i> -->

        <div class="boxHome">
            <p>Uma equipe sem limites de velocidade, motivada a construir o
                <span>primeiro carro elétrico de corrida de Pernambuco!</span>
            </p>
        </div>
        
        <div class="quadri-top">
            <img src="{% static 'images/quadri.png' %}" alt="logo-quadri-top">
        </div>

        <div class="quadri-bottom">
            <img src="{% static 'images/quadri.png' %}" alt="logo-quadri-bottom">
        </div>

        <div class="arrowHome">
                <a href="#fsae"><img src="{% static 'images/arrow.png' %}" alt="arrow-home"></a>
        </div>
    </div>

    <!-- SEÇÃO 2 - FSAE -->

    <div id="fsae">

        <div class="titleFsae">
            <p>FSAE</p>
        </div>
        
        <div class="quadri-fsae">
            <img src="{% static 'images/quadri2.png' %}" alt="logo-quadri-menor">
        </div>

        <div class="lineFsae"></div>

        <div class="fsaeLogo">
            <img src="{% static 'images/logo-fsae.jpeg' %}" alt="logo-fsae">
        </div>

        <div class="boxFsae">
            <p>Texto falando sobre a competiçãoTexto falando sobre a competiçãoTexto falando 
                sobre a competição Texto falando sobre a competiçãoTexto falando sobre a 
                competiçãoTexto falando sobre a competiçãoTexto falando sobre a competição
                Texto falando sobre a competiçãoTexto falando sobre a competição
                Texto falando sobre a competição
            
            </p>
        </div>

        <div class="fsaeButtom">
            <p>Saiba Mais</p>
        </div>

        <div class="imgDrivers">
            <img src="{% static 'images/pilotos.png' %}" alt="banner-drivers">
        </div>

    </div>

    <div id="time">

        <div class="titleTime">
            <p>TIME</p>
        </div>
        
        <div class="quadri-time">
            <img src="{% static 'images/quadri2.png' %}" alt="logo-quadri-menor">
        </div>

        <div class="lineTime"></div>

    </div>
</body>
</html>