:root{
    margin: 0;
    --branco: #FFFFFF;
    --vermelho: #e80c0c;
    --preto:  #000000;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-start;
} 

/* SEÇÃO 0 - NAVBAR */

#navbar{
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    background-color: var(--vermelho);
    position: fixed;
}

#nav-web{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    position: relative;
}

.nav-logo{
    margin-left: 40px;
}

.nav-logo img{
    width: 40px;
    height: auto;
}

.div-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-menu a{
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.nav-social{
    margin-right: 50px;
}

.fab.fa-instagram, .fab.fa-linkedin-in {
    color: var(--branco);
    font-size: 1.5rem;
    margin-left: 8px;
}

.fas.fa-circle{
    color: var(--branco);
    font-size: 0.4rem;
    margin: 10px;
}

/* SEÇÃO 1 - HOME */

#home{
    width: 100%;
    height: 100vh;
}
.home-logo img{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home-logo{
    display: flex;
    position: relative;
    top: 250px;
}
.box-home{
    border-style: dashed;
    width: 550px;
    margin: auto;
    position: relative;
    top: 280px;
}
.box-home span{
    font-weight: bold;
}
.box-home p{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 97%;
}
.fas.fa-square-full{
    position: absolute;
    top: 52vh;
    left: 30vw;
}
.quadri-top{
    display: flex;
    position: absolute;
    top: 15vh;
    left: 3vw;
}
.quadri-bottom{
    display: flex;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
}
.arrow-home{
    display: flex;
    position: relative;
    top: 48vh;
}
.arrow-home img, .arrow-home a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SEÇÃO 2 - FSAE */

#fsae{
    width: 100%;
    height: 150vh;
}
.title-fsae{
    margin-left: 70px;
    margin-top: 12vh;
}
.title-fsae p{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}
.quadri-fsae{
    display: flex;
    position: absolute;
    left: 180px;
    top: 112vh;
}
.line-fsae{
    background-color: var(--vermelho);
    width: 240px;
    height: 1px;
    position: absolute;
    top: 119vh;
    left: 68px;
}
.fsae-logo{
    margin-left: 70px;
    margin-top: 90px;
    margin-bottom: 150px;
}
.fsae-logo img{
    width: 400px;
    height: auto;
}
.box-fsae{
    width: 500px;
    position: absolute;
    display: flex;
    right: 200px;
    top: 130vh;
}
.box-fsae p{
    font-size: 1.2rem;
}
.fsae-buttom{
    display: flex;
    border-radius: 22px;
    height: 48px;
    width: 130px;
    background-color: var(--vermelho);
    margin: 0 5px;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 568px;
    top: 160vh;
}
.fsae-buttom p{
    color: var(--branco);
    font-weight: bold;
}
.img-drivers img{
    width: 100%;
}
.img-drivers{
    margin-bottom: 100px;
}

/* SEÇÃO 3 - TIME */

#time{
    width: 100%;
    height: 100vh;
}
.title-time{
    margin-left: 70px;
    margin-top: 12vh;
}
.title-time p{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}
.quadri-time{
    display: flex;
    position: absolute;
    left: 180px;
    top: 262vh;
}
.line-time{
    background-color: var(--vermelho);
    width: 240px;
    height: 1px;
    position: absolute;
    top: 269vh;
    left: 68px;
}

/* SEÇÃO 4 - PARCEIROS */

#parceiros{
    width: 100%;
    height: 100vh;
}
.title-parceiros{
    margin-left: 70px;
    margin-top: 12vh;
}
.title-parceiros p{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}
.quadri-parceiros{
    display: flex;
    position: absolute;
    left: 308px;
    top: 362vh;
}
.line-parceiros{
    background-color: var(--vermelho);
    width: 240px;
    height: 1px;
    position: absolute;
    top: 369vh;
    left: 68px;
}
.parceiros-linha-1, .parceiros-linha-2{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
}
.parceiros-linha-1 img, .parceiros-linha-2 img{
    width: 300px;
    height: auto;
}