:root{
    margin: 0;
    --branco: #FFFFFF;
    --vermelho: #e80c0c;
    --preto:  #000000;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-start;
} 

/* SEÇÃO 0 - NAVBAR */

#navbar{
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    background-color: var(--vermelho);
}

#navWeb{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    position: relative;
}

.navLogo{
    margin-left: 40px;
}

.navLogo img{
    width: 40px;
    height: auto;
}

.divMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divMenu a{
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.navSocial{
    margin-right: 50px;
}

.fab.fa-instagram, .fab.fa-linkedin-in {
    color: var(--branco);
    font-size: 1.5rem;
    margin-left: 8px;
}

.fas.fa-circle{
    color: var(--branco);
    font-size: 0.4rem;
    margin: 10px;
}

/* SEÇÃO 1 - HOME */

#home{
    width: 100%;
    height: 100%;
}
.homeLogo img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homeLogo{
    display: flex;
    position: relative;
    top: 150px;
}
.boxHome{
    border-style: dashed;
    width: 600px;
    margin: auto;
    position: relative;
    top: 200px;
}
.boxHome span{
    font-weight: bold;
}
.boxHome p{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}
.fas.fa-square-full{
    position: absolute;
    top: 52vh;
    left: 30vw;
}
