:root{
    margin: 0;
    --branco: #FFFFFF;
    --vermelho: #e80c0c;
    --preto:  #000000;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-start;
} 

/* SEÇÃO 0 - NAVBAR */

#navbar{
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    background-color: var(--vermelho);
    position: fixed;
}

#navWeb{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    position: relative;
}

.navLogo{
    margin-left: 40px;
}

.navLogo img{
    width: 40px;
    height: auto;
}

.divMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divMenu a{
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.navSocial{
    margin-right: 50px;
}

.fab.fa-instagram, .fab.fa-linkedin-in {
    color: var(--branco);
    font-size: 1.5rem;
    margin-left: 8px;
}

.fas.fa-circle{
    color: var(--branco);
    font-size: 0.4rem;
    margin: 10px;
}

/* SEÇÃO 1 - HOME */

#home{
    width: 100%;
    height: 100vh;
}
.homeLogo img{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homeLogo{
    display: flex;
    position: relative;
    top: 250px;
}
.boxHome{
    border-style: dashed;
    width: 550px;
    margin: auto;
    position: relative;
    top: 280px;
}
.boxHome span{
    font-weight: bold;
}
.boxHome p{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 97%;
}
.fas.fa-square-full{
    position: absolute;
    top: 52vh;
    left: 30vw;
}
.quadri-top{
    display: flex;
    position: absolute;
    top: 15vh;
    left: 3vw;
}
.quadri-bottom{
    display: flex;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
}
.arrowHome{
    display: flex;
    position: relative;
    top: 48vh;
}
.arrowHome img, .arrowHome a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fsae{
    width: 100%;
    height: 100vh;
}
.divTitle{
    margin-left: 70px;
    margin-top: 12vh;
}
.divTitle p{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}
.quadri-title{
    display: flex;
    position: absolute;
    left: 180px;
    top: 112vh;
}
.titleLine{
    background-color: var(--vermelho);
    width: 240px;
    height: 1px;
    position: absolute;
    top: 119vh;
    left: 68px;
}
.fsaeLogo{
    margin-left: 70px;
    margin-top: 90px;
    margin-bottom: 150px;
}
.fsaeLogo img{
    width: 400px;
    height: auto;
}
.boxFsae{
    width: 500px;
    position: absolute;
    display: flex;
    right: 200px;
    top: 130vh;
}
.boxFsae p{
    font-size: 1.2rem;
}
.fsaeButtom{
    display: flex;
    border-radius: 22px;
    height: 48px;
    width: 130px;
    background-color: var(--vermelho);
    margin: 0 5px;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 568px;
    top: 160vh;
}
.fsaeButtom p{
    color: var(--branco);
    font-weight: bold;
}
.imgDrivers img{
    width: 100%;
}
.imgDrivers{
    margin-bottom: 100px;
}
